{% extends 'base.html' %}

{% block title %}Consommation{% endblock %}

{% block content %}
<main>
    <h1 class="centered-title">Répartition des Factures</h1>
    <!-- Conteneur des graphiques -->
    <div class="charts-container">
        <!-- Graphique des montants -->
        <div id="piechartMontant" class="chart"></div>
        <!-- Graphique des valeurs consommées -->
        <div id="piechartConsommation" class="chart"></div>
    </div>
</main>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        // Graphique des montants
        var dataMontant = google.visualization.arrayToDataTable([
            ['Type de Facture', 'Montant (€)'],
            {% for label, value in data_montant %}
                ['{{ label }}', {{ value }}],
            {% endfor %}
        ]);

        var optionsMontant = {
            title: 'Répartition des Factures par type',
            is3D: true,
        };

        var chartMontant = new google.visualization.PieChart(document.getElementById('piechartMontant'));
        chartMontant.draw(dataMontant, optionsMontant);

        // Graphique des consommations
        var dataConsommation = google.visualization.arrayToDataTable([
            ['Type de Facture', 'Valeur Consommée'],
            {% for label, value in data_consommation %}
                ['{{ label }}', {{ value }}],
            {% endfor %}
        ]);

        var optionsConsommation = {
            title: 'Répartition des Consommations par Type',
            is3D: true,
        };

        var chartConsommation = new google.visualization.PieChart(document.getElementById('piechartConsommation'));
        chartConsommation.draw(dataConsommation, optionsConsommation);
    }
</script>
{% endblock %}
