<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Données BDD</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/consommation/LOG001">Consommation</a></li>
            <li><a href="/meteo/rueil-malmaison">Météo</a></li>
            <li><a href="/capteur/LOG001">Capteurs</a></li>
            <li><a href="/données_bdd">Données BDD</a></li>
          </ul>
        </nav>
      </header>
      
  <h1>Toutes les Données de la Base de Données</h1>

  <div class="database-tables">
    {% for table in toutes_les_donnees %}
    <div class="table-container">
      <h2>Table : {{ table.table_name }}</h2>
      <table>
        <thead>
          <tr>
            {% for column in table.columns %}
            <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in table.rows %}
          <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</body>
</html>
