
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">                                     <!-- Définit l'encodage des caractères à UTF-8 pour supporter les caractères spéciaux. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">                  <!-- Rend la page responsive en adaptant l'échelle à la largeur de l'écran. -->
  <title>Accueil</title>                                                                    <!-- Titre de la page affiché dans l'onglet du navigateur. -->
  <link rel="stylesheet" href="/static/styles.css">                                           <!-- Lien vers le fichier CSS pour styliser la page. -->
</head>




<body>
  <!-- En-tête contenant la barre de navigation -->
  <header>
    <nav>
      <ul class="nav-links">
        <!-- Menu de navigation avec 3 liens -->

        <li><a href="/">Home</a></li>                                     <!-- Lien vers la page d'accueil -->
        <li><a href="/camembert/LOG001">Camembert Logement 1</a></li>       <!-- Lien vers la page du camembert pour le logement LOG001 -->
        <li><a href="/meteo/rueil-malmaison">Météo Rueil Malmaison</a></li>   <!-- Lien vers la page météo pour Rueil-Malmaison -->
      </ul>
    </nav>
  </header>



    <!-- Section principale de la page avec le contenu centré -->
<main class="center-content">
  <h1>Bienvenue sur le super serveur RESTFULL de Pierre !!! </h1> <!-- Grand titre au centre de la page -->
    <p>Enjoy !</p> <!-- Paragraphe d'instructions -->
</main>
  </body>




</main>
<footer>
  <p>© 2024 Super Serveur RESTful de Pierre</p>
</footer>
</html>
  

