{% extends 'base.html' %}

{% block title %}Prévisions météo{% endblock %}

{% block content %}
<div class="weather-container">
    <h1>Prévisions météo pour {{ ville }}</h1>
    <div class="forecast-container">
        {% for day, forecasts in previsions.items() %}
        <div class="day-forecast">
            <h2>{{ day }}</h2>
            <ul class="hourly-forecast">
                {% for forecast in forecasts %}
                <li>
                    <div class="hourly-time">{{ forecast.time.split(' ')[1] }}</div>
                    <div class="hourly-temp">{{ forecast.temperature }}°C</div>
                    <div class="hourly-desc">{{ forecast.description }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
